html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

img.full-screen-image {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*This means that the border will be included in the width and height : try content-box to see the difference*/
}

.border-red {
    border: 10px solid rgb(250, 60, 60);
}